<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="RimworldConflictChecker.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
       <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="NBug.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <userSettings>
    <RimworldConflictChecker.Settings>
      <setting name="RimWorldFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="ModFolder1" serializeAs="String">
        <value />
      </setting>
      <setting name="ModFolder2" serializeAs="String">
        <value />
      </setting>
      <setting name="UpgradeRequired" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ModsConfigFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="incDisabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="showDetails" serializeAs="String">
        <value>False</value>
      </setting>
    </RimworldConflictChecker.Settings>
  </userSettings>
  <connectionStrings>
    <add name="NBug.Properties.Settings.Cipher" connectionString="ZxIbmiRzL4JmFNMg8iSs1U7MnPtpkcAjgx7ZySqc504="/>
    <add name="NBug.Properties.Settings.Destination1" connectionString="uU0b5OchbkvPYjmg/6gAsfPqR7+V/LBhdlXuEbxTUQcI/PYRpeobioujV3HkoFRJrEeKS/+3dS+oY6BjOPgCWHcO10XKpCJ+3Rp0XbLe/eCn9ySNuxUBDEX2MUJpPt2uQwhxeVGfi9xnJqns6KjESDIt5JBz6upoQtvSrzSKJHUxLKLfeP4+Ffiv/DHdLrF56xtlAGZnG1fYZ2tMNvk2Ryy1z1xR3Q4qTCvCspX4JFxGnmry05p6h5LSLFkzaMMgKhsLX/y7R/BO0tyIWOBIRwn7gypn+0tAcS5VXEEK8Vh/4I0MVTyHgX2SSyCjhaS763Tb4oxFPiUB08rofZTa9g=="/>
  </connectionStrings>
  <applicationSettings>
    <NBug.Properties.Settings>
      <setting name="UIMode" serializeAs="String">
        <value>Full</value>
      </setting>
      <setting name="UIProvider" serializeAs="String">
        <value>Auto</value>
      </setting>
      <setting name="SleepBeforeSend" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="MaxQueuedReports" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="StopReportingAfter" serializeAs="String">
        <value>180</value>
      </setting>
      <setting name="MiniDumpType" serializeAs="String">
        <value>Large</value>
      </setting>
      <setting name="WriteLogToDisk" serializeAs="String">
        <value>false</value>
      </setting>
      <setting name="ExitApplicationImmediately" serializeAs="String">
        <value>true</value>
      </setting>
      <setting name="HandleProcessCorruptedStateExceptions" serializeAs="String">
        <value>false</value>
      </setting>
      <setting name="ReleaseMode" serializeAs="String">
        <value>true</value>
      </setting>
      <setting name="DeferredReporting" serializeAs="String">
        <value>false</value>
      </setting>
      <setting name="StoragePath" serializeAs="String">
        <value>CurrentDirectory</value>
      </setting>
    </NBug.Properties.Settings>
  </applicationSettings>
</configuration>
